<%= button_to "New Brand", new_brand_path, :method => :get %>

<!--table class="table">
	<tr>
		<th>Title</th>
		<th>Text</th>
	</tr>
</table-->
	
	<div class="container-fluid" id="brands-board">
		<%= render 'shared/board' %>
	</div>